<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069732906571-ltb2ulp3g9en9iv2ugkbht4uu7guvr9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069732906571-ltb2ulp3g9en9iv2ugkbht4uu7guvr9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1069732906571-0tidf2gomf7kvpa5ra5lvd97omc082ua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtJikhB9EPRE-CATSeyBdzWiNoPwJoc4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1069732906571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chizotech.pamoconnect</string>
	<key>PROJECT_ID</key>
	<string>festiv8-7f79d</string>
	<key>STORAGE_BUCKET</key>
	<string>festiv8-7f79d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069732906571:ios:88370429fe806f264b2fce</string>
</dict>
</plist>