rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == document;
      allow delete: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /events/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if resource.data.event_Org == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /events/{parent}/tickets/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if get(/databases/$(database)/documents/events/$(parent)).data.event_Org == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /{path=**}/tickets/{document} {
      allow read: if true;
    }


    match /venues/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if resource.data.venue_owner == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /venues/{parent}/venue_ratings/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if resource.data.user_rating == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /{path=**}/venue_ratings/{document} {
      allow read: if true;
    }


    match /chats/{document} {
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) in request.resource.data.users;
      allow read: if /databases/$(database)/documents/users/$(request.auth.uid) in resource.data.users;
      allow write: if /databases/$(database)/documents/users/$(request.auth.uid) in resource.data.users;
      allow delete: if false;
    }

    match /chat_messages/{document} {
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) in get(request.resource.data.chat).data.users
&& /databases/$(database)/documents/users/$(request.auth.uid) == request.resource.data.user;
      allow read: if /databases/$(database)/documents/users/$(request.auth.uid) in get(resource.data.chat).data.users;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/user_notifications/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if true;
    }

    match /events/{parent}/performer_offers/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/performer_offers/{document} {
      allow read: if true;
    }


    match /orders/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /verified_orders/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /beta_users/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /events/{parent}/venue_request/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/venue_request/{document} {
      allow read: if true;
    }


    match /events/{parent}/verified_tickets/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if true;
    }

    match /{path=**}/verified_tickets/{document} {
      allow read: if true;
    }


    match /events/{parent}/promo_codes/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if true;
    }

    match /{path=**}/promo_codes/{document} {
      allow read: if true;
    }


    match /users/{parent}/my_tickets/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /users/{parent}/booking_requests/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if false;
    }

    match /ff_user_push_notifications/{id} {
      allow read, update, delete: if false;
      allow create: if /databases/$(database)/documents/users/$(request.auth.uid) == request.resource.data.sender;
    }
  }
}
